{% extends "users/base.html" %}
{% block content %}
    <main>
        <section class="container" style="padding: 30px 15px 30px 15px !important;">
            <div class="row py-lg-5" style="padding: 0 0 0 0 !important;">
                <div class="col-lg-6 col-md-8">
                    <h1 class="page-title">Identified Persons</h1>
                    <p class="lead text-muted">Each person whose face was detected will appear here.</p>
                </div>
            </div>
        </section>
        <section class="container albums">
            {% for title, persons in persons_dict %}
                {% if persons %}
                    <h4 class="albums__title">{{ title }}</h4>
                    {% for person in persons %}
                        <div class="albums__item">
                            <span class="albums__item__title">
                                <a href="{% url 'face' person.pk %}" class="albums__item__title__link">
                                    <h4>{{ person.name }}</h4>
                                </a>
                            </span>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </section>
    </main>
{% endblock content %}