{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <p class="page-title">Log In</p>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-secondary" type="submit">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}